body{
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightyellow;
}

.profilePicture{
    max-width: 50%;
    height: auto;
    border-radius: 50%;
    border: 2px solid darkslategray;
}

h1{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: darkslategray;
}

h2{
    font-family: 'Press Start 2P', cursive;
    color: darkslategray;
}

.profileContainer{
    margin: auto;
    padding-top: 40px;
    max-width: 40%;
    display: flex;
    justify-content: space-between;
}
.projectItems{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.portfolioUnit{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contact{
    margin: auto;
}

.screenshot{
    max-width: 60%;
    height: auto;
    border: 2px solid darkslategray;
    border-radius: 10px;
}
p{
    font-family: 'Press Start 2P', cursive;
    font-size: x-small;
}

nav{
    text-align: center;
}

a{
    color: darkslategray;
    font-family: 'Press Start 2P', cursive;
    font-size: x-small;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: red;
}

a:active {
    text-decoration: none;
}

li{
    list-style: none;
    font-family: 'Press Start 2P', cursive;
    font-size: x-small;
    padding-top: 50px;
    color: darkslategray;
}

iframe{
    max-width: 95%;
    max-height: 95%;
    border: 2px solid darkslategray;
    border-radius: 10px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

hr{
    border: 1px solid darkslategray;
}

p{
    color: darkslategray;
}

@media(max-width: 1080px) {
    .projectItems{
        flex-direction: column;
    }
  }